@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Leckerli+One&family=Nunito+Sans:wght@300&family=Patrick+Hand&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Nunito Sans;
    color: #383232;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: 1px solid #383232;
}

.active {
    border-bottom: 1px solid #383232;
}


/* page header */

#home-text-top {
    font-family: Leckerli One;
    font-size: 600%;
    padding-top: 30px;
}


/* navigation menu */

#navcontainer {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

nav li {
    display: inline;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1%;
    padding-right: 1%;
    list-style-type: none;
    font-size: 120%;
    text-transform: uppercase;
}


/* hero image */

#home-hero-outer {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

#home-hero {
    height: 450px;
    background: url(../CSS/images/cat.png) no-repeat center center;
}


/* home page info content */

#home-info h2 {
    text-align: center;
    font-size: 200%;
}

.home-info-boxes {
    display: flex;
    padding-top: 30px;
    margin-bottom: 30px;
}

.home-info-boxes h2 {
    font-family: Leckerli One;
    height: 75px;
}

.home-info-boxes p {
    padding-top: 10px;
    margin-bottom: 30px;
}

.home-left-heading {
    width: 33%;
    float: left;
    text-align: center;
    margin-left: 70px;
}

.home-center-heading {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    margin-left: 70px;
}

.home-right-heading {
    width: 33%;
    float: right;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}


/* home page images */

#home-left-image {
    background: url(../CSS/images/house.png) no-repeat center center;
    height: 300px;
    width: auto;
}

#home-center-image {
    background: url(../CSS/images/nature.png) no-repeat center center;
    height: 300px;
    width: auto;
}

#home-right-image {
    background: url(../CSS/images/community.png) no-repeat center center;
    height: 300px;
    width: auto;
}


/* for smaller screens with a max-width of 800px */

@media screen and (max-width: 800px) {
    .home-info-boxes {
        width: 100%;
        display: block;
    }
    .home-info-boxes p {
        margin: auto;
        margin-bottom: 30px;
        width: 95%;
    }
    .home-left-heading {
        width: 100%;
        text-align: center;
        float: none;
        margin-left: 0;
    }
    .home-center-heading {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-left: 0;
    }
    .home-right-heading {
        width: 100%;
        float: none;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    article {
        width: 90%;
        margin: auto;
    }
    article p {
        padding: 30px 0 30px 0;
    }
    .article-picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .home-info-boxes {
        width: 100%;
        display: block;
    }
    .home-info-boxes p {
        margin: auto;
        margin-bottom: 30px;
        width: 95%;
    }
    .home-left-heading {
        width: 100%;
        text-align: center;
        float: none;
        margin-left: 0;
    }
    .home-center-heading {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-left: 0;
    }
    .home-right-heading {
        width: 100%;
        float: none;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    article {
        width: 90%;
        margin: auto;
    }
    article p {
        padding: 30px 0 30px 30px;
    }
    .article-picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}


/* footer content */

footer {
    height: 325px;
    background-color: #383232;
    padding: 25px 25px 0 25px;
}

footer p {
    color: white;
    float: left;
}

footer div {
    width: 30%;
    float: left;
    display: block;
}

footer iframe {
    width: 60%;
    float: right;
}


/* about and history article pages */

#article-header {
    font-family: Leckerli One;
    font-size: 250%;
    padding-top: 80px;
}

article {
    width: 60%;
    margin: auto;
}

article p {
    padding: 30px 0 30px 0;
}

.article-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

figure figcaption {
    text-align: center;
}

figure:last-child {
    padding-bottom: 10%;
}


/* gallery */

.gallery {
    column-count: 3;
    width: 90%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.gallery>div {
    position: relative;
    float: left;
}

.gallery>div>img {
    width: 100%;
    transition: .1s transform;
    transform: translateZ(0);
    /* hack */
}

.gallery>div:hover {
    z-index: 1;
}

.gallery>div:hover>img {
    transform: scale(1.8, 1.8);
    transition: .3s transform;
}

.cf:before,
.cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}